@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
/* Overall Background */
body {

    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background: linear-gradient(135deg, #f74a4a, #ff934b); /* Black to Orange Gradient */
  }
  
  .hero {
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 100px 20px;
  }
  
  .hero h1 {
    font-size: 3rem;
    margin-bottom: 20px;
    font-weight: bold;
  }
  
  .hero p {
    font-size: 1.4rem;
    margin-bottom: 30px;
    font-family: 'Courier New', Courier, monospace;
    color: BLACK;
    font-weight: bold;
    
  }
  
  .hero button {
    background-color: #000000;
    color: white;
    padding: 10px 30px;
    border: none;
    font-size: 1.1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .hero button:hover {
    background-color: #ff6a00;
  }

  .search-courts {
    background: #2d2d2d;
    padding: 80px 20px;
    color: white;
    text-align: center;
  }
  
  .search-courts h2 {
    font-size: 2rem;
    margin-bottom: 40px;
    color: #f74a4a;
  }
  
  .search-options {
    display: flex;
    justify-content: center;
    gap: 50px;
  }
  
  .search-option {
    background-color: #333;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    width: 250px;
    text-align: center;
  }
  
  .search-option h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #ee6767;
  }
  
  .search-option p {
    font-size: 1rem;
    margin-bottom: 20px;
  }
  
  .search-option input {
    padding: 10px;
    width: 80%;
    border: none;
    margin-bottom: 10px;
    border-radius: 5px;
    outline: none;
  }
  
  .search-option button {
    background-color: #000000;
    padding: 10px 20px;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .search-option button:hover {
    background-color: #f07777;
  }
  
  /* Footer */
  footer {
    background-color: #000000;
    color: white;
    padding: 20px;
    text-align: center;
  }
  
  footer p {
    margin: 0;
    font-size: 1rem;
  }

.hero h1 {
    font-family: 'Bebas Neue', sans-serif; 
    font-size: 5rem;
    text-transform: uppercase;
    background: linear-gradient(80deg, #181510, #000000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
    letter-spacing: 10px;
}

  